/* Imposta altezza e larghezza a 100% per il body e html */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* Imposta la mappa per riempire tutto lo schermo */
#map {
    height: 100vh; /* Usa vh per occupare l'altezza dell'intera finestra */
    width: 100vw; /* Usa vw per occupare la larghezza dell'intera finestra */
    position: relative;
}
/* Carattere*/
.afacad-flux-custom {
    font-family: "Afacad Flux", sans-serif; /* Nome del font */
    font-optical-sizing: auto; /* Abilita la variazione ottica */
    font-weight: 400; /* Puoi scegliere un valore tra 100 e 1000, 400 è il normale */
    font-style: normal; /* Imposta lo stile normale */
    font-variation-settings: "slnt" 0; /* Personalizza la variazione (qui, per esempio, l'inclinazione) */
  }
  
 /* Stile per il titolo in sovraimpressione */
#title {
    position: absolute; /* Posizionamento assoluto */
    top: 10px; /* Distanza dal margine superiore */
    left: 10px; /* Distanza dal margine sinistro */
    background-color: rgba(255, 255, 255, 0.8); /* Sfondo semi-trasparente */
    padding: 10px; /* Spazio interno */
    border-radius: 10px; /* Angoli arrotondati */
    font-size: 24px; /* Dimensione del font */
    z-index: 1000; /* Assicura che sia in primo piano */
}
/* Stile per le immagini nel popup */
.popup-image {
    width: 100%; /* Larghezza dell'immagine */
    height: auto; /* Altezza automatica per mantenere le proporzioni */
    margin-bottom: 5px; /* Spazio tra le immagini */
}


