/* Stile di base per la pagina */
html, body {
    height: 100%; /* Imposta l'altezza di html e body al 100% */
    margin: 0; /* Rimuove il margine di default */
    padding: 0; /* Rimuove il padding di default */
    position: relative; /* Necessario per il posizionamento assoluto del titolo */
}

/* Titolo */
h1 {
    position: absolute; /* Posizionamento assoluto */
    top: 10px; /* Distanza dal bordo superiore */
    left: 50%; /* Centro orizzontale */
    transform: translateX(-50%); /* Centrato orizzontalmente */
    margin: 0; /* Rimuove il margine di default */
    padding: 10px; /* Aggiungi un padding se desideri un po' di spazio */
    background-color: rgba(255, 255, 255, 0.7); /* Sfondo semi-trasparente per la leggibilità */
    border-radius: 5px; /* Angoli arrotondati */
    z-index: 1000; /* Posiziona il titolo sopra la mappa */
}

/* Contenitore della mappa */
#map {
    width: 100%;
    height: 100%; /* Rendi l'altezza della mappa il 100% dell'altezza del contenitore */
    z-index: 1; /* Mappa dietro il titolo */
    position: relative; /* Necessario per il posizionamento corretto del titolo */
}
@font-face {
    font-family: 'Afacad Flux';
    src: url('fonts/AfacadFlux.woff') format('woff'), /* Specifica il formato del font */
         url('fonts/AfacadFlux.ttf') format('truetype'); /* Aggiungi anche altri formati se necessario */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Afacad Flux', sans-serif; /* Usa il font nel tuo CSS */
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Stile per l'infobox */
.infobox {
    max-width: 200px; /* Imposta una larghezza massima per il popup */
    padding: 5px; /* Riduci il padding per un aspetto più compatto */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); /* Aggiungi ombra per un effetto di profondità */
    border-radius: 5px; /* Aggiungi angoli arrotondati */
}

.infobox h4 {
    margin: 0; /* Rimuovi il margine dal titolo */
    font-size: 16px; /* Imposta la dimensione del font del titolo */
}

.infobox p {
    margin: 5px 0 0 0; /* Margine sopra e sotto la descrizione */
    font-size: 14px; /* Imposta la dimensione del font della descrizione */
}

